  <form class="example-form mt-4">
    <div class="d-flex justify-content-center">

      <mat-form-field class="example-full-width mr-4">
        <mat-label>Rechercher un mot</mat-label>
        <input (change)="onValueChanged($event)" matInput placeholder="">
      </mat-form-field>


      <button mat-mini-fab color="primary"  aria-label="Example icon button with a home icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>




    <mat-card>
      <p>Trier Par</p>
      <mat-slider thumbLabel tickInterval="1" min="0"  max="30000"></mat-slider>
    </mat-card>



  </form>

