  <form class="example-form mt-4">
    <div class="d-flex justify-content-center">

      <mat-form-field class="example-full-width mr-4">
        <mat-label>Rechercher un mot</mat-label>
        <input [(ngModel)]="model" name="input" (change)="submitQuery()" matInput placeholder="">
      </mat-form-field>


      <button (click)="submitQuery()" mat-mini-fab color="primary"  aria-label="Example icon button with a home icon">
        <mat-icon>search</mat-icon>
      </button>
    
    </div>
    <div class="text-center text-uppercase div-1 rounded">
      <span *ngIf="model" class="div-1">Resultats pour le mot {{model}}</span>
    </div>
    
  </form>

