<div>

  <ngx-spinner></ngx-spinner>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dico 2.0</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>

  <div class="container">
    <app-search-bar (onSearch)="onSearch($event); begin();"></app-search-bar>
    <div class="d-flex justify-content-center">
      Désactive le cache serveur    
      <mat-slide-toggle  [(ngModel)]="noCache"></mat-slide-toggle>
    </div>
    <div class="d-flex justify-content-center">
      Délai de la réponse:       
      <span>{{ duration() / 1000 }}</span>
    </div>

    <app-result-list [data]="res"></app-result-list>
  </div>
</div>
